<!DOCTYPE html>
<html lang="en" class="body-full-height">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Accounts</title>

    <link rel="stylesheet" href="/templates/joli/css/theme-blue.css">

  </head>
  <body>
    <div class="page-container" style="height: 100vh;">
        <div class="page-sidebar page-sidebar-fixed scroll">
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="/">Top Tier</a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-title">
                    Navigation
                </li>
                <li>
                    <a href="/dashboard">
                        <span class="fa fa-desktop"></span>
                        <span class="xn-text">Dashboard</span>
                    </a>
                </li>
                <li class="xn-openable active">
                    <a href="#">
                        <span class="fa fa-cogs"></span>
                        <span class="xn-text">Accounts</span>
                    </a>
                    <ul>
                        <li>
                            <a href="/accounts-add">
                                <span class="fa fa-bell-o"></span>
                                <span class="xn-text">Add Account</span>
                            </a>
                        </li>
                        <li>
                            <a href="/accounts">
                                <span class="fa fa-users"></span>
                                <span class="xn-text">Accounts</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="xn-title">
                    Profile
                </li>
                <li>
                    <a href="/logout">
                        <span class="glyphicon glyphicon-log-out"></span>
                        <span class="xn-text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-content">
            <div class="page-title">
                <h2>Accounts</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if accounts|length > 0 %}
                                        {% for key, account in accounts %}
                                            <tr>
                                                <td>{{ account.aid }}</td>
                                                <td>{{ account.first_name }}</td>
                                                <td>{{ account.last_name }}</td>
                                                <td>{{ account.email }}</td>
                                                <td>{{ account.phone }}</td>
                                                <td>
                                                    <a href="/accounts-view?aid={{ account.aid }}">
                                                        <span class="fa fa-pencil"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="6">No Accounts Found</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer-js.html.twig' %}

</body>
</html>