<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edit Account</title>

    <link rel="stylesheet" href="/templates/joli/css/theme-blue.css">

  </head>
  <body>
    <div class="page-container" style="height: 100vh;">
        <div class="page-sidebar page-sidebar-fixed scroll">
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="/">Financial</a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-title">
                    Navigation
                </li>
                <li>
                    <a href="/dashboard">
                        <span class="fa fa-desktop"></span>
                        <span class="xn-text">Dashboard</span>
                    </a>
                </li>
                <li class="xn-openable active">
                    <a href="#">
                        <span class="fa fa-cogs"></span>
                        <span class="xn-text">Accounts</span>
                    </a>
                    <ul>
                        <li>
                            <a href="/accounts-add">
                                <span class="fa fa-bell-o"></span>
                                <span class="xn-text">Add Account</span>
                            </a>
                        </li>
                        <li>
                            <a href="/accounts">
                                <span class="fa fa-users"></span>
                                <span class="xn-text">Accounts</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="xn-title">
                    Profile
                </li>
                <li>
                    <a href="/logout">
                        <span class="glyphicon glyphicon-log-out"></span>
                        <span class="xn-text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-content">
            <div class="page-title">
                <h2>Edit Account</h2>
            </div>
            {% if errors|length > 0 %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            <ul>
                            {% for key, error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if messages|length > 0 %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success">
                            <ul>
                            {% for key, message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form, { action: '/accounts-edit?aid=' ~ parameters.aid, attr: { class: 'form-horizontal' } }) }}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {{ form_errors(form) }}

                                {{ form_row(form.first_name, {'label': 'First Name'}) }}
                                {{ form_row(form.last_name, {'label': 'Last Name'}) }}
                                {{ form_row(form.email, {'label': 'Email'}) }}
                                {{ form_row(form.phone, {'label': 'Phone'}) }}

                                {{ form_row(form.address1, {'label': 'Address 1'}) }}
                                {{ form_row(form.address2, {'label': 'Address 2'}) }}
                                {{ form_row(form.city, {'label': 'City'}) }}
                                {{ form_row(form.state, {'label': 'State'}) }}
                                {{ form_row(form.zip, {'label': 'Zip Code'}) }}

                                {{ form_row(form.social, {'label': 'Last 4 of Social'}) }}

                                {{ form_row(form.credit_company, {'label': 'Credit Company'}) }}
                                {{ form_row(form.credit_company_user, {'label': 'Credit Company User'}) }}
                                {{ form_row(form.credit_company_password, {'label': 'Credit Company Password'}) }}
                                {{ form_row(form.credit_company_code, {'label': 'Credit Company Code'}) }}

                            </div>
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% include 'footer-js.html.twig' %}
</body>
</html>